body{
    margin-top: 20vh;
    margin-left: 10vw;
    width: 90%;
    z-index: 50;
}

body article{
    font-size: 2vmin;
}

header h2{
    font-size: 3vh;
   
}
article{
    padding-left: 10px;
    width: 80%;
}
article li::after{
    content: '\A\A'; 
    white-space: pre; 
    display: block;
}

header{
    height: 17%;
    position: fixed;
    margin-left: 10vw;
    width: 90vw;
    top: 0;
    left: 0;
    padding: 1px;
    z-index: 100;
}
footer{
    text-align: center;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td, th {padding: 8px; }

a,span{
    text-decoration: none;
}

.cenContent {
    display: flex;
    justify-content: center;
}

.lContent, .rContent {
    flex: 1;
}

.rContent {
    display: flex;
    justify-content: flex-end;
}

.container{
    display: flex;
    align-items: center;
}


.cName{
    font-size: 3vh;
    color: blue;
}

.miniflag{
    height: 6vh;
}

.sidenav {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 2vw;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
